<h2 class="page-header">Error information</h2>
<main role="main" class="container" ng-app="showDevice">

  <div class="row row-offcanvas row-offcanvas-right" ng-controller="show">

    <div class="na">
      <div class="listView">
          <p id="name"></p>

      </div>
    </div>
    <!--/span-->

  </div>
  <!--/row-->


  <hr>
</main>
<!--/.container-->